/* CSS Reset */
body, header, nav, main, footer, img, h1, h3 {
	margin: 0;
	padding: 0;
	border: 0;
}

/* The body section used to display the background */

body {
	background-image: url("images/background.jpg");
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* navigation section */

nav {
	background: rgb(255,246,254);
	background: linear-gradient(0deg, rgba(222,207,175,0.9206057422969187) 0%, rgba(237,229,191,0.9037990196078431) 22%, rgba(255,252,205,0.8981967787114846) 100%);
	border-bottom-right-radius: 25%;
	border-bottom-left-radius: 25%;
	padding: 5vh;
	position:static;
	bottom: 40px;
	border: 0.3vh solid;
	border-color: #51504C;
	height:10px;
}

nav ul {
	text-align: center;
	margin: 0;
}

nav li {
	display: inline-block;
	font-size: 3vh;
	padding: 0.5vh;
	font-weight: bold;
}

nav li a:hover{
	color: #67655F;
	transition: 0.2s;
	font-size: 1.15em;
}

nav li a {
	text-align: center;
	color: #31302C;
	font-family: Verdana, Arial, sans-serif;
	padding: 5vh 5vh;
	text-decoration: none;
    transition: .5s;
}

#nav {

}

.icon {
	position:relative;
	bottom: 8vh;
	left: 25vw;
	transition: .5s;
	height: 8vh;
	width: 4vw;
}

.icon:hover{
	height: 10vh;
	width: 5vw;
	bottom: 9vh;
	transition: 0.2s;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

/* Style rules for header elements */

h1 {
	text-align: center;
	color: #31302C;
	text-decoration: underline;
	font-size: 4vh;
	font-family:  Verdana, Arial, sans-serif;
	position: relative;
	bottom: 5px;
    padding: 3%;
}

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0.3vh solid;
	border-color: #51504C;
    width: 100%;
    height: auto;
	width: 90%
}

h2 {
	padding: 1%;
	margin-top: 0em;
	margin-bottom: -1em;
	text-decoration: underline;
	color: #31302C;
	font-size: 3vh;
}

h3 {
	margin-bottom: -0.75em;
	color: #636189;
}

/* Style rules for main content */

main {
	padding: 2%;
	color: #000000;
}

main p {
	font-size: 2.5vh;
	line-height: 2em;
	color: #000000;
}

#container {
	font-family: Verdana, Arial, sans serif;
}

#maincontent {
    word-wrap: break-word; width:1500px;
    margin: auto;
    width: 90%;
    border: 3px solid;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background: rgba(255, 246, 207, 0.3);
    font-family: Roboto, Arial, sans serif;
    font-size: 1.15em;
    border-color: #51504C;
}

#filler {
	height:10vh;
}

/* Style rules for footer content */

footer {
	padding: 1%em;
	border: 0.15em solid;
	border-color: #51504C;
	border-top-left-radius: 15%;
	border-top-right-radius: 15%;
	height:12vh;
	background: linear-gradient(0deg, rgba(255,252,205,0.8981967787114846) 0%, rgba(237,229,191,0.9037990196078431) 81%, rgba(222,207,175,0.9206057422969187) 100%);
}

footer p {
	font-family: Verdana, Arial, sans serif;
	text-align: center;
	font-size: 2vh;
}

/* keyframes */

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }